/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, "Inter", sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight, 400);
  background-color: var(--background-color, #fff);
  color: var(--accent-color, #000);
  background-image: var(--background-image, none);
  background-attachment: fixed;
  background-size: cover;
  line-height: 21px;
}

.header {
  padding-block-start: 120px;
  padding-block-end: 25px;
  display: grid;
  gap: 25px;
}

.header__title {
  display: grid;
  gap: 20px;
  line-height: normal;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.header__title-decoration {
  font-size: 49px;
}

.header__title-text {
  font-size: 14px;
}

.accent-text {
  font-family: var(--accent-font-family, "PressStart2P", sans-serif);
}

.colored-background {
  background-color: var(--background-color, #fff);
}