/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: "Inter", sans-serif;
    --accent-font-family: "PressStart2P", sans-serif;
    --main-font-weight: 400;
    --background-color: #fff;
    --accent-color: #000;
}