/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: "Inter", sans-serif;
    --accent-font-family: "PressStart2P", sans-serif;
    --main-font-weight: 400;
    --background-color: #fff;
    --accent-color: #000;
    --background-image:
        repeating-linear-gradient(to right, #d3d3d3 0px 2px, rgba(211, 211, 211, 0) 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, rgba(211, 211, 211, 0) 2px 4px),
        repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --content-width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
    --card-header-font-weight: 700;
    --like-button-color: #fff;
}